body {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2c2e39 0%, #323232 100%);
    background-attachment: fixed;
}

.btn {
    background: linear-gradient(135deg, #2c2e39 0%, rgb(140, 139, 141) 100%);
    color: rgb(0, 0, 0);
    padding: 18px 40px;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Estilos para los encabezados y texto*/
h1{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.5px;
    left: 5%;
}

p{
    font-size: 15px;
    font-weight: 250;
    line-height: 1.6;
    text-align: justify;
}

hr {
    border: none;
    height: 1px;
    width: 80%;
    background: #ffffff;
    margin: 20px auto;
}

/*Isla de navegación, posicionamiento y molde base*/
.island-nav-layout{
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff1f;
    border-radius: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1000;
}

/*Isla de navegación, estilos internos*/
.island-nav ul {
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.island-nav a {
    display: flex;
    padding: 8px 30px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    white-space: nowrap;
}

.island-nav a:hover, .island-nav a:focus-visible {
    border-radius: 24px;
    transform: translateY(-2px) scale(1.05);
    outline: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.island-nav li {
    margin: 0px;
}

/* Estilos para el contenido principal */
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 20px;
    max-width: 85%;
    margin: 0 auto;
    gap: 20px
}

.card{ 
    border-radius: 10px;
    padding: 30px;
    margin: 0; 
    backdrop-filter: blur(10px);    
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card:hover{
    transition: all 0.3s ease-in-out;
    transform: translateY(-2px) scale(1.05); 
    outline: none;
}

.hero{
    position: relative;
    display: flex;
    align-items: center;
    width: 85%;
    height: 25%;
    background-image: url(picture/background-hero.png);
    background-attachment: fixed;
    margin: 20px auto;
    margin-top: 30%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

.hero h1{
    color: #000000;
    padding: 4px 8px;
    background-color: #e2e2e2;
    border-radius: 8px;
    display: inline;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-decoration-break: clone;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.5px;
    left: 5%;
}

.hero img{
  position: absolute;
  width: 100%;
  max-width: 55%;
  height: auto;
  right: 0;
  bottom: 0;
}

.box-hero{
    padding: 20px;
    margin-left: 5%;  
}

@media (max-width: 768px) {

    .text-island-nav {
    display: none;
    }
    
    .hero{
    height: 15%;
    }

    .hero h1{
    font-size: 22px;
    }

    .island-nav-layout {
        width: 80%;           
        max-width: none;      
        padding: 5px;         
    }

    .island-nav a i {
        font-size: 20px;      
    }

    .island-nav a {
        padding: 8px 12px;    
    }

    .island-nav ul {
        gap: 5px;             
        padding: 0 4px;       
    }

    .island-nav li {
        flex-shrink: 1;       
    }
}